{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mt-3">
  <div class="col-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
    {% include '_alerts.html' %}
  </div>
</div>
<div class="container-fluid">
  <div class="text-center">
    <h2>{{employee.user.first_name}} {{employee.user.last_name}}</h2>
    <h5 class="text-monospace">({{employee.user.username}})</h5>
    <button type="button" class="btn btn-outline-primary rounded-pill ed-emp" data-toggle="modal"
      data-target="#updateEmployeeModal" data-employee-id="{{employee.id}}">Editar
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
      </svg>
    </button>
    <button type="button" class="btn btn-outline-danger ml-3 rounded-pill del-emp" data-toggle="modal"
      data-target="#deleteEmployeeModal" data-employee-id="{{employee.id}}"
      data-employee-name="{{employee.user.first_name}} {{employee.user.last_name}}">Eliminar
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
        <path fill-rule="evenodd"
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
      </svg>
    </button>

    <!-- Employee Information -->
    {% include './_employee_information.html' %}

    <!-- Survey table -->
    <div class="shadow-lg rounded mt-5 mb-3">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Encuesta</th>
            <th scope="col">
              <div class="text-center">
                Resultados
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for sheet in sheets %}
          {% if sheet.final_answer == -1 %}
          <tr class="">
            <th scope="row">
              <a class="btn btn-block text-left" href=""> Guía {{ employee.survey.guide_number }} -
                {{sheet.survey.title}}</a>
            </th>
            <td>
              <div class="text-center">
                <span class="badge badge-primary badge-pill">Encuesta sin resolver</span>
              </div>
            </td>
          </tr>
          {% else %}
          <tr>
            <td>
              <a class="btn btn-block text-left"
                href="{% url 'user:employee_answers_view' employee.id sheet.survey.id%}">Guía
                {{ sheet.survey.guide_number }} - {{sheet.survey.title}}</a>
            </td>
            <td>
              {% if sheet.final_answer == "Muy alto" or sheet.final_answer == "Requiere atención clínica" %}
              <span class="badge text-white badge-pill" style="background-color:#E84258;">{{sheet.final_answer}}</span>
              {% elif sheet.final_answer == "Alto" %}
              <span class="badge text-white badge-pill" style="background-color:#FD8060;">{{sheet.final_answer}}</span>
              {% elif sheet.final_answer == "Medio" %}
              <span class="badge text-dark badge-pill" style="background-color:#FEE191;">{{sheet.final_answer}}</span>
              {% elif sheet.final_answer == "Bajo" %}
              <span class="badge text-white badge-pill" style="background-color:#B0D8A4;">{{sheet.final_answer}}</span>
              {% else %}
              <span class="badge text-white badge-pill" style="background-color:#58A1D9;">{{sheet.final_answer}}</span>
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% include './_update_modal.html' %}
{% include './_delete_modal.html' %}

{% endblock %}