<div class="modal fade" id="createSurveyModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Encuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createSurvey" action="{% url 'survey:create_survey' %}" method="POST" class="surveyForm"
          onsubmit="createSurveyButton.disabled = true; return true;">
          {% csrf_token %}
          <div class="form-row">
            <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-md-6 form-group">
              <label for="responsible">Nombre del responsable<span class="text-danger">*</span></label>
              <input id="responsible" type="text" class="form-control" placeholder="Responsable" name="responsible"
                required>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-md-6 form-group">
              <label for="responsible_id">Num. de cedula profesional</label>
              <input id="responsible_id" type="number" class="form-control" placeholder="Cedula profesional"
                name="responsible_id">
            </div>
            <div class="col-12 form-group">
              <label for="main_activities">Actividades principales realizadas en el centro de trabajo<span
                  class="text-danger">*</span></label>
              <input id="main_activities" type="main_activities" class="form-control"
                placeholder="Actividades principales" name="main_activities" required>
            </div>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id="create-submit-btn" type="submit" class="btn btn-primary" name="createSurveyButton">Crear
            encuesta</button>
        </form>
      </div>
    </div>
  </div>
</div>