<div class="modal fade" id="deleteSurveyModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Encuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>
            ¿Está segur@ que desea eliminar la encuesta <strong id="deleteModalTitle"></strong> de su lista de
            encuestas?
          </p>
          <p>
            Al hacerlo se borrarán todas las respuestas de los empleados registradas a esta.
            Las demás encuestas no se verán afectadas.
          </p>
        </div>
        <form id="deleteSurvey" action="{% url 'survey:delete_survey' 0 %}" method="POST"
          onsubmit="deleteSurveyButton.disabled = true; return true;">
          {% csrf_token %}
          <div class="form-group" hidden>
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" name="survey_id" value="{{survey.id}}">
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger" name="deleteSurveyButton">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>