<div class="container col-lg-8 col-xl-7 shadow-lg mt-4 rounded border">
  <div class="row bg-light text-body pb-2 mb-2 rounded-top border-bottom">
    <div class="col mt-3">
      <h5>Información de la Encuesta</h5>
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Centro de trabajo:
    </div>
    <div class="col text-left">
      {{survey.company.social_denomination}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Domicilio:
    </div>
    <div class="col text-left">
      {{survey.company.address}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Actividad principal:
    </div>
    <div class="col text-left">
      {{survey.company.main_activity}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Objetivo:
    </div>
    <div class="col text-left">
      {{survey.objective}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Principales actividades realizadas en el centro de trabajo:
    </div>
    <div class="col text-left">
      {{survey.main_activities}}
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col text-right font-weight-bold">
      Método utilizado:
    </div>
    <div class="col text-left">
      {{survey.method}}
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col text-right font-weight-bold">
      Resultados obtenidos:
    </div>
    <div class="col text-left">
      {{survey.results}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Conclusiones:
    </div>
    <div class="col text-left">
      {{survey.conclusions}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Recomendaciones y acciones de intervención:
    </div>
    <div class="col text-left">
      {{survey.recommendations}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold">
      Responsable de la evaluación:
    </div>
    <div class="col text-left">
      {{survey.responsible}}
    </div>
  </div>
  <div class="row">
    <div class="col text-right font-weight-bold mb-3">
      Número de cedula profesional:
    </div>
    <div class="col text-left">
      {{survey.responsible_id}}
    </div>
  </div>
</div>